



<suite name="Suite" parallel="tests">
  <test thread-count="5" name="chromeTest">
  	<parameter name="browser" value="chrome"/>
    <classes>
      <class name="miniProjectTestPackage.Testclass"/>
    </classes>
  </test> 
  
  <test thread-count="5" name="edgeTest">
  	<parameter name="browser" value="edge"/>
    <classes>
      <class name="miniProjectTestPackage.Testclass"/>
    </classes>
  </test>
  <!-- Test -->
</suite> <!-- Suite -->
